    body {
        background-color: lavender;
    }
    
    div {
        padding: 40px;
    }
    
    span {
        background-color: deepskyblue;
        font-weight: bold;
    }
    
    #tfoot {
        background-color: deepskyblue;
        font-weight: bold;
    }
    
    table {
        background-color: antiquewhite;
        border: solid 5px black;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        margin-right: auto;
        margin-left: auto;
    }
    
    td {
        padding: 10px;
        text-align: center;
    }
    
    tbody tr:first-child td {
        border: none;
        font-weight: bold;
    }
    
    tbody tr td {
        border: 1px solid black;
        border-radius: 1px;
        border-right: none;
        border-bottom: none;
    }
    
    tr#uno td {
        border-top: none;
    }