body {
    background-color: lavender;
}

div {
    padding: 40px;
    display: flex;
    justify-content: center;
}

span {
    background-color: deepskyblue;
}

#tfoot {
    border-radius: 20px;
    background-color: deepskyblue;
}

table {
    background-color: antiquewhite;
    border: solid 1px black;
    border-radius: 20px;
}

td {
    padding: 8px;
    text-align: center;
}

tbody tr:first-child td,
td {
    border: none;
}

tbody tr td {
    border: 1px solid black;
    border-radius: 1px;
}

tr#uno td {
    border-top: none;
}