* {
    background-color: antiquewhite;
    margin-top: 3%;
}

h1 {
    color: brown;
}

div {
    column-count: 3;
    column-gap: 40px;
    column-rule-style: double;
    column-rule-color: red;
}

span:hover {
    color: blueviolet;
}

p::selection {
    background-color: gold;
    color: fuchsia;
}