body {
    background-color: hotpink;
}

h1 {
    background-color: antiquewhite;
}

input:in-range {
    background-color: darkseagreen;
}

input:out-of-range {
    background-color: chocolate;
}

div {
    column-count: 3;
    column-gap: 45px;
    column-rule: solid 3px;
}